*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f0ecec;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows:30px 30px 1fr 0.3fr 3fr;
    grid-template-areas: 
    "header header"
    "navigation history"
    "result history"
    "option history"
    "keybord history";
}
/*...............................header......................................*/
.header{
    background-color: #f0ecec;
    grid-area: header;
    min-width: 190px;
    display: flex;
    justify-content: space-between;
}
.page-name{
    margin-left: 5px;
    margin-top: 5px;
}

.top-right-icon{
    display:flex ;
    justify-content:space-between;
    align-items: center;
    background-color: #c0c0c000;
}
.top-right-icon button{
    padding: 10px;
    font-size: 19px;
    text-align: center;
}

.minimize:hover{
    background-color:  silver;
    font-size: 3px 3px;
}

.maximize:hover{
    background-color:  silver;
    font-size: 3px 3px;
}

.close:hover{
    color: white;
    background-color: red; 
    font-size: 3px 3px;
}
/*.................................navigation................................*/

.navigation{
    background-color: #f0ecec;
    grid-area: navigation;
    height: 6%;
    display: flex;
    justify-content: space-between;
}
.meno{
    margin-left: 5px;
    padding: 3px;
}

.meno:hover{
    background-color: silver; 
}

.standard{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 5px;
}
.nav-pic{
    width: 35px;
    height: 24px;
    margin-top: 11px;
}
.time-pic{
     margin-top: 3px; 
    margin-right: 15px;
     margin-bottom: 5px 
}
/*................................result.................................*/
.result{
    background-color: #f0ecec;
    grid-area: result;
    height: 13%;
    display: flex;
    justify-content: flex-end;
    font-size: 250%;
    font-weight: 500;
    margin-right:15px;
    margin-left: 5px;
    margin-top: 60px; 
}
/*............................history...................................*/

.history{
    background-color:#f0ecec;
    grid-area: history;
    height: 160px;
    text-align: left;
    min-width: 190px;
}
.history span{
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 5px;
}
.history-text{
    border-bottom: 3px inset rgb(228,137,0);
    padding-bottom: 1.5px;
}
.text-of-beneath-history{
    font-size: 15px;
     margin-top: 25px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
/*....................................option..............................*/
.option{
    background-color: #f0ecec;
    grid-area: option;
}

.cal_option button{
    font-weight: 600;
    width: 7%;
    height: 40px;
    background-color: #c0c0c000;
}
.disabled1,.disabled2{
    color: rgb(128, 128, 128);
}
.M-plus:hover{
    background-color: silver;
    font-size: 3px 3px;
}
#minus:hover{
    background-color: silver;
    font-size: 3px 3px;
}
.M-save:hover{
    background-color: silver;
    font-size: 3px 3px;
}
/*................................keybord..............................*/
.cal-keybord{
    grid-area:keybord;
    height: 100%;
    min-width: 280px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 1px;
    row-gap: 1px ;
    background-color: #dad6d6;
}

 .act{
    background:  #e2e0e0; 
    font-size:23px ;
}

.number{
    background-color:  #eeecec;
    font-size: 20px;
    font-weight: 700;
    text-align:  center;
}
.act:hover{
    background-color: silver;
}

.number:hover{
    background-color: silver;
}





