*{
    margin:0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 320px;
    grid-template-rows:30px 30px 1fr 0.3fr  400px;
    grid-template-areas: 
    "header header"
    "navigation history"
    "result history"
    "option history"
    "keybord history";
}

.header{
    background-color: #fefefe;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-right-icon{
    display:flex ;
    justify-content:space-between;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    width: 7%;
    background-color: #c0c0c000;
}

.minimize:hover{
    background-color:  silver;
}

.maximize:hover{
    background-color:  silver;
}

.close:hover{
    color: white;
    background-color: red; 
    font-size: 3px 3px;
}

.navigation{
    background-color: #fefefe;
    grid-area: navigation;
    display: flex;
    justify-content: space-between;
}
.meno{
    margin-left: 5px;
}

.meno:hover{
    background-color: silver; 
}

.standard{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
}
.photo1{
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 7px;
}
.time-pic{
    margin-top: 3px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.result{
    grid-area: result;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:15px 20px;
}

.history{
    height: 160px;
    background-color:#fefefe;
    grid-area: history;
    text-align: left;
}
.history span{
    font-size: 20px;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.history-text{
    border-bottom: 4px inset rgb(228,137,0);
    padding-bottom: 2.7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-of-beneath-history{
    font-size: 15px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}


.cal-keybord{
    grid-area:keybord;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 20%);
    column-gap:1px;
    row-gap: 1px;
}

 .act{
    background:  #e2e0e0; 
    font-size:30px ;
    font-family: Arial, Helvetica, sans-serif;
}

.number{
    background-color:  #eeecec;
    font-size: 25px;
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
}
.act:hover{
    background-color: silver;
}

.number:hover{
    background-color: silver;
}
.cal_option{
    grid-area: option;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    width: 30%;
    margin-top: 20px;
}
.cal_option button {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.disabled{
    color: rgb(128, 128, 128);
}
.active1:hover{
    background-color: silver;
}
.active2:hover{
    background-color: silver;
}
.active3:hover{
    background-color: silver;
}




